@import "tailwindcss";
@plugin "daisyui";

@theme {
  --color-primero: #0E2148;
  --color-segundo: #483AA0;
  --color-tercero: #7965C1;
  --color-cuarto: #E3D095;
}

@layer components {
  .inputConfigLogo {
    @apply block w-full py-3 text-primero bg-white border rounded-lg px-11 focus:border-cuarto;
  }

  .inputConfig {
    @apply block w-full py-3 text-primero bg-white border rounded-lg px-5 focus:border-cuarto;
  }

  .buttonConfig {
    @apply w-full px-6 py-3 text-sm text-white  transition-colors duration-300 transform bg-primero rounded-lg hover:bg-tercero;
  }

  .buttonConfigAll {
    @apply block px-6 py-3 text-lg uppercase text-center text-white transition-colors duration-300 transform bg-primero rounded-lg hover:bg-tercero;
  }

  .labelConfig {
    @apply block mb-2 text-sm text-white;
  }

  .liConfig {
    @apply border-b-2 p-2 shadow-lg text-xl pl-10;
  }
}